<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem id="menu_tinh_luong_root" name="Quản Lý Lương" sequence="10"/>

        <!-- Cấu hình -->
        <menuitem id="menu_tinh_luong_config" name="Cấu hình" parent="menu_tinh_luong_root" sequence="1"/>
        
        <menuitem id="menu_salary_rule" name="Quy tắc lương" parent="menu_tinh_luong_config"
                  action="action_salary_rule" sequence="1"/>
        
        <menuitem id="menu_salary_structure" name="Cấu trúc lương" parent="menu_tinh_luong_config"
                  action="action_salary_structure" sequence="2"/>
        
        <menuitem id="menu_hop_dong" name="Hợp đồng lao động" parent="menu_tinh_luong_config"
                  action="action_hop_dong" sequence="3"/>

        <!-- Bảng lương -->
        <menuitem id="menu_bang_luong" name="Bảng Lương" parent="menu_tinh_luong_root"
                  action="action_bang_luong" sequence="2"/>

        <!-- Thống kê -->
        <menuitem id="menu_tinh_luong_report" name="Thống Kê" parent="menu_tinh_luong_root" sequence="3"/>
        
        <menuitem id="menu_bang_luong_dashboard" name="Dashboard" parent="menu_tinh_luong_report"
                  action="action_bang_luong_dashboard_advanced" sequence="0"/>
        
        <!-- <menuitem id="menu_bang_luong_dashboard_simple" name="Dashboard Cơ Bản" parent="menu_tinh_luong_report"
                  action="action_bang_luong_dashboard" sequence="1"/>
         -->
        <!-- <menuitem id="menu_bang_luong_graph_nv" name="Lương Theo Nhân Viên" parent="menu_tinh_luong_report"
                  action="action_bang_luong_graph_nv" sequence="2"/>
         -->
        <menuitem id="menu_bang_luong_graph_thang" name="Lương Theo Tháng" parent="menu_tinh_luong_report"
                  action="action_bang_luong_graph_thang" sequence="3"/>
<!--         
        <menuitem id="menu_bang_luong_graph_revenue" name="Thu Nhập vs Khấu Trừ" parent="menu_tinh_luong_report"
                  action="action_bang_luong_graph_revenue" sequence="4"/>
        
        <menuitem id="menu_bang_luong_pivot" name="Phân Tích Chi Tiết" parent="menu_tinh_luong_report"
                  action="action_bang_luong_pivot" sequence="5"/>
         -->
        <menuitem id="menu_bang_luong_report" name="Báo Cáo Lương" parent="menu_tinh_luong_report"
                  action="action_bang_luong_report" sequence="6"/>
        
        <menuitem id="menu_bang_luong_wizard" name="Tạo Báo Cáo" parent="menu_tinh_luong_report"
                  action="action_bang_luong_wizard" sequence="7"/>
    </data>
</odoo>
